<!doctype html>
<html lang="en">
<head>

        <!-- Begin style -->
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/nj-data/test/style.css">
        <!--End Style -->

        <!-- Begin Scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
</head>
    

<body>

     <div align=center><a href="a" class="navy small btn">Mapping Tools</a>
        <a href="b" class="teal small btn">Charting Tools</a>
        <a href="c" class="green small btn">Getting and Analyzing Data</a>
        <a href="d" class="yellow small btn">Programming Tools</a>
        <a href="e" class="orange small btn">Other Data Tools</a></div>
        <br>

<table id="analysis" class="display"><thead>

<tr><th>program</th><th>type</th><th>skill_level</th><th>sitelink</th></tr>
</thead>
<tbody>
 <tr><td>Batch Geo</td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Intermediate</td><td><a href="http://batchgeo.com/">http://batchgeo.com/</a></td></tr>
 <tr><td>BitTorrent</td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="http://www.bittorrent.com/">http://www.bittorrent.com/</a></td></tr>
 <tr><td>Change Detection</td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="http://www.changedetection.com/">http://www.changedetection.com/</a></td></tr>
 <tr><td>Comet Docs</td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="http://www.cometdocs.com/">http://www.cometdocs.com/</a></td></tr>
 <tr><td>DownThemAll</td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="http://www.downthemall.net/">http://www.downthemall.net/</a></td></tr>
 <tr><td>FOIA Machine</td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="foiamachine.org">foiamachine.org</a></td></tr>
 <tr><td>Google Drive/Office</td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="https://drive.google.com">https://drive.google.com</a></td></tr>
 <tr><td>Google Forms</td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="http://www.google.com/google-d-s/createforms.html">http://www.google.com/google-d-s/createforms.html</a></td></tr>
 <tr><td>OpenRefine</td><td>Data Collection Analysis and Cleaning</td><td>Intermediate</td><td><a href="https://openrefine.org/">https://openrefine.org/</a></td></tr>
 <tr><td>Microsoft Access</td><td>Data Collection Analysis and Cleaning</td><td>Intermediate to Advanced</td><td><a href="http://office.microsoft.com/en-us/access/">http://office.microsoft.com/en-us/access/</a></td></tr>
 <tr><td>Microsoft Excel</td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Advanced</td><td><a href="http://office.microsoft.com/en-us/excel/">http://office.microsoft.com/en-us/excel/</a></td></tr>
 <tr><td>National Weather Service API</td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="http://graphical.weather.gov/xml/">http://graphical.weather.gov/xml/</a></td></tr>
 <tr><td>Tabula</td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Intermediate</td><td><a href="http://tabula.nerdpower.org/">http://tabula.nerdpower.org/</a></td></tr>
 <tr><td>Twitter API</td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="https://dev.twitter.com/">https://dev.twitter.com/</a></td></tr>
 <tr><td>Wget</td><td>Data Collection Analysis and Cleaning</td><td>Intermediate</td><td><a href=""></a></td></tr>
 <tr><td>SPSS</td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="http://www-01.ibm.com/software/analytics/spss/">http://www-01.ibm.com/software/analytics/spss/</a></td></tr>
 <tr><td>Yahoo Pipes</td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="http://pipes.yahoo.com/pipes/">http://pipes.yahoo.com/pipes/</a></td></tr>
 <tr><td>Import.io</td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Advanced</td><td><a href="http://import.io">http://import.io</a></td></tr>
 <tr><td>Overview Project</td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Intermediate</td><td><a href="http://overview.ap.org/">http://overview.ap.org/</a></td></tr>
 <tr><td>Open Calais</td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="http://www.opencalais.com/">http://www.opencalais.com/</a></td></tr>
 <tr><td>Alchemy API</td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="http://www.alchemyapi.com/">http://www.alchemyapi.com/</a></td></tr>
 <tr><td>Minezy</td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Advanced</td><td><a href="http://minezy.org/">http://minezy.org/</a></td></tr>
 <tr><td>LandSat-ul</td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="https://github.com/developmentseed/landsat-util">https://github.com/developmentseed/landsat-util</a></td></tr>
</tbody>
</table>



<script type="text/javascript">
    $(document).ready( function () {
    $('#analysis').DataTable();
} );
</script>
    </body> 
</html>