<!doctype html>
<html lang="en">
<head>

        <!-- Begin style -->
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/nj-data/test/style.css">
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <!--End Style -->

        <!-- Begin Scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
</head>
    

<body>


        <div align=center>

        <a href="http://sstirling.github.io/data-toolbox/build/index.html" class="orange med btn">Home</a>
        <a href="mailto:castudillo@njadvancemedia.com,sstirling@njadvancemedia.com" class="yellow med btn">Ask a Question</a>
        <a href="https://docs.google.com/forms/d/18egwYfJnOMkA_SQFCEba37MyHAllReU-Ns0erMWQIrA/viewform?usp=send_form" class="green med btn">Submit a Data Request</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/data.html" class="teal med btn">Data Warehouse</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/tutorials.html" class="navy med btn">Tutorials</a>
        <br>
        <br>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/maps.html" class="navy med btn">Mapping Tools</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/charts.html" class="teal med btn">Charting Tools</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/analysis.html" class="green med btn">Analyzing Data</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/coding.html" class="yellow med btn">Programming Tools</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/other.html" class="orange med btn">Other Data Tools</a></div>
<br>
<br>
<br>
<div class="graphicHeader">Analysis</div>
<br>
<br>
<br>
<br>
<div class="descrip"> The Analysis page deals with three things: Getting, cleaning and analyzing data. Tools on this page will help you scrape website, get PDFs into Excel, root out typos and inconsistencies and find meaningful patterns that can help you build data stories. 
</div>

 <p class="sort-text">Click on the name of the program for more detailed information.</p>
<br>
<br>
<table id="analysis" class="display"><thead>

<tr><th>Program</th><th>Type</th><th>Skill Level</th><th>Website</th></tr>
</thead>
<tbody>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/2/">Batch Geo</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Intermediate</td><td><a href="http://batchgeo.com/">http://batchgeo.com/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/3/">BitTorrent</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="http://www.bittorrent.com/">http://www.bittorrent.com/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/5/">Change Detection</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="http://www.changedetection.com/">http://www.changedetection.com/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/8/">Comet Docs</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="http://www.cometdocs.com/">http://www.cometdocs.com/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/12/">DownThemAll</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="http://www.downthemall.net/">http://www.downthemall.net/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/13/">FOIA Machine</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="foiamachine.org">foiamachine.org</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/16/">Google Drive/Office</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="https://drive.google.com">https://drive.google.com</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/18/">Google Forms</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner</td><td><a href="http://www.google.com/google-d-s/createforms.html">http://www.google.com/google-d-s/createforms.html</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/23/">OpenRefine</a></td><td>Data Collection Analysis and Cleaning</td><td>Intermediate</td><td><a href="https://openrefine.org/">https://openrefine.org/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/28/">Microsoft Access</a></td><td>Data Collection Analysis and Cleaning</td><td>Intermediate to Advanced</td><td><a href="http://office.microsoft.com/en-us/access/">http://office.microsoft.com/en-us/access/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/29/">Microsoft Excel</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Advanced</td><td><a href="http://office.microsoft.com/en-us/excel/">http://office.microsoft.com/en-us/excel/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/30/">National Weather Service API</a></td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="http://graphical.weather.gov/xml/">http://graphical.weather.gov/xml/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/37/">Tabula</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Intermediate</td><td><a href="http://tabula.nerdpower.org/">http://tabula.nerdpower.org/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/41/">Twitter API</a></td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="https://dev.twitter.com/">https://dev.twitter.com/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/42/">Wget</a></td><td>Data Collection Analysis and Cleaning</td><td>Intermediate</td><td><a href=""></a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/43/">SPSS</a></td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="http://www-01.ibm.com/software/analytics/spss/">http://www-01.ibm.com/software/analytics/spss/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/47/">Yahoo Pipes</a></td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="http://pipes.yahoo.com/pipes/">http://pipes.yahoo.com/pipes/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/51/">Import.io</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Advanced</td><td><a href="http://import.io">http://import.io</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/53/">Overview Project</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Intermediate</td><td><a href="http://overview.ap.org/">http://overview.ap.org/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/56/">Open Calais</a></td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="http://www.opencalais.com/">http://www.opencalais.com/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/57/">Alchemy API</a></td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="http://www.alchemyapi.com/">http://www.alchemyapi.com/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/60/">Minezy</a></td><td>Data Collection Analysis and Cleaning</td><td>Beginner to Advanced</td><td><a href="http://minezy.org/">http://minezy.org/</a></td></tr>
 <tr><td><a href="http://sstirling.github.io/data-toolbox/build/61/">LandSat-ul</a></td><td>Data Collection Analysis and Cleaning</td><td>Advanced</td><td><a href="https://github.com/developmentseed/landsat-util">https://github.com/developmentseed/landsat-util</a></td></tr>
</tbody>
</table>



<script type="text/javascript">
$(document).ready(function() {
    $('#analysis').dataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
} );
</script>
    </body> 
</html>