<!doctype html>
<html lang="en">
<head>

        <!-- Begin style -->
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/nj-data/test/style.css">
        <!--End Style -->

        <!-- Begin Scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
</head>
    

<body>

      <div align=center>
        <a href="/index.html" class="blue small btn">Home</a>
        <a href="a" class="navy small btn">Mapping Tools</a>
        <a href="b" class="teal small btn">Charting Tools</a>
        <a href="c" class="green small btn">Getting and Analyzing Data</a>
        <a href="d" class="yellow small btn">Programming Tools</a>
        <a href="e" class="orange small btn">Other Data Tools</a></div>
        <br>

<table id="charts" class="display"><thead>
<tr><th>program</th><th>type</th><th>skill_level</th><th>sitelink</th></tr>
 </head>
 <tbody>
 <tr><td>Data Tables</td><td>Charts/Tables</td><td>Advanced</td><td><a href="http://datatables.net/">http://datatables.net/</a></td></tr>
 <tr><td>DataWrapper</td><td>Charts/Tables</td><td>Beginner to Intermediate</td><td><a href="http://datawrapper.de/">http://datawrapper.de/</a></td></tr>
 <tr><td>Google Charts</td><td>Charts/Tables</td><td>Intermediate to Advanced</td><td><a href="https://developers.google.com/chart/">https://developers.google.com/chart/</a></td></tr>
 <tr><td>HighCharts</td><td>Charts/Tables</td><td>Intermediate to Advanced</td><td><a href="http://www.highcharts.com/">http://www.highcharts.com/</a></td></tr>
 <tr><td>Tableau Public</td><td>Charts/Tables</td><td>Intermediate</td><td><a href="http://www.tableausoftware.com/public/">http://www.tableausoftware.com/public/</a></td></tr>
 <tr><td>Tablizer!</td><td>Charts/Tables</td><td>Beginner to Intermediate</td><td><a href="http://tableizer.journalistopia.com/">http://tableizer.journalistopia.com/</a></td></tr>
 <tr><td>Caspio</td><td>Charts/Tables</td><td>Intermediate</td><td><a href="http://www.caspio.com/">http://www.caspio.com/</a></td></tr>
 <tr><td>Plot.ly</td><td>Charts/Tables</td><td>Beginner to Advanced</td><td><a href="https://plot.ly/">https://plot.ly/</a></td></tr>
</tbody>
</table>


<script type="text/javascript">
  $(document).ready(function() {
    $('#maps').dataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
} );
</script>
    </body> 
</html>