<!doctype html>
<html lang="en">
<head>

        <!-- Begin style -->
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/nj-data/test/style.css">
        <!--End Style -->

        <!-- Begin Scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
</head>
    

<body>

        <div align=center>

        <a href="/index.html" class="orange med btn">Home</a>
        <a href="a" class="yellow med btn">Ask a Question</a>
        <a href="b" class="green med btn">Submit a Data Request</a>
        <a href="c" class="teal med btn">Data Warehouse</a>
        <a href="d" class="navy med btn">Tutorials</a>
        <br>
        <br>
        <a href="a" class="navy med btn">Mapping Tools</a>
        <a href="b" class="teal med btn">Charting Tools</a>
        <a href="c" class="green med btn">Analyzing Data</a>
        <a href="d" class="yellow med btn">Programming Tools</a>
        <a href="e" class="orange med btn">Other Data Tools</a></div>
<br>
<br>
<br>
<div class="graphicHeader">Coding</div>
<br>
<br>
<div class="graphicSubhead"> The dreaded C-word. If you're looking into getting into some basic coding or are troubleshooting issues in existing code, this page is for you.  There are also tools that can help simplify the process of turning code into something useful for reporters. 
</div>
<br>
<br>
 <p class="sort-text">Click on the name of the program for more detailed information.</p>
<br>
<br>

<table id="coding" class="display"><thead>

<tr><th>program</th><th>type</th><th>skill_level</th><th>sitelink</th></tr>
</thead>
<tbody>
 <tr><td>Google Apps Script</td><td>Coding</td><td>Advanced</td><td><a href="https://developers.google.com/apps-script/">https://developers.google.com/apps-script/</a></td></tr>
 <tr><td>Notepad++</td><td>Coding</td><td>Beginner</td><td><a href="http://notepad-plus-plus.org/">http://notepad-plus-plus.org/</a></td></tr>
 <tr><td>Text Wrangler</td><td>Coding</td><td>Beginner</td><td><a href="http://www.barebones.com/products/textwrangler/">http://www.barebones.com/products/textwrangler/</a></td></tr>
 <tr><td>Firebug</td><td>Coding</td><td>Intermediate to Advanced</td><td><a href="https://getfirebug.com/">https://getfirebug.com/</a></td></tr>
 <tr><td>GitHub</td><td>Coding</td><td>Intermediate to Advanced</td><td><a href="https://github.com/">https://github.com/</a></td></tr>
 <tr><td>Tarbell</td><td>Coding</td><td>Advanced</td><td><a href="https://tarbell.readthedocs.org/en/1.0/#">https://tarbell.readthedocs.org/en/1.0/#</a></td></tr>
</tbody>
</table>



<script type="text/javascript">
$(document).ready(function() {
    $('#coding').dataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
} );
</script>
    </body> 
</html>