<!doctype html>
<html lang="en">
<head>

        <!-- Begin style -->
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/nj-data/test/style.css">
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <!--End Style -->

        <!-- Begin Scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
</head>
    

<body>

    
        <div align=center>

        <a href="http://sstirling.github.io/data-toolbox/build/index.html" class="orange med btn">Home</a>
        <a href="mailto:castudillo@njadvancemedia.com,sstirling@njadvancemedia.com" class="yellow med btn">Ask a Question</a>
        <a href="https://docs.google.com/forms/d/18egwYfJnOMkA_SQFCEba37MyHAllReU-Ns0erMWQIrA/viewform?usp=send_form" class="green med btn">Submit a Data Request</a>
        <a href="https://data.nj.gov/" class="teal med btn">Data Warehouse</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/tutorials.html" class="navy med btn">Tutorials</a>
        <br>
        <br>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/maps.html" class="navy med btn">Mapping Tools</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/charts.html" class="teal med btn">Charting Tools</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/analysis.html" class="green med btn">Analyzing Data</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/coding.html" class="yellow med btn">Programming Tools</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/other.html" class="orange med btn">Other Data Tools</a></div>
<br>
<br>
<br>
<div class="graphicHeaderDetail">Data Warehouse</div>
<br>
<br>
<div class="graphicSubhead"><span class='titleamount'>Welcome</span> to the NJ Advance Media Data Warehouse. This page is very much under construction, but is designed to allow reporters easy access to any and all New Jersey data available. There's a lot out there, but it can often be hard to find. 
<br>
<br>
Initially, this page will be a gateway to some of our favorite state data sources on virtually every topic a news reporter could want.  We hope to soon be hosting cleaned data for reporter use and add some search functionality to make navigating even easier. We also hope to expand it to include more federal data.
<br>
<br>
Have a suggestion for how we can make it better? Notice something that's missing? Please e-mail <a href="mailto:castudillo@njadvancemedia.com">Carla Astudillo</a> or <a href="mailto:sstirling@njadvancemedia.com">Stephen Stirling</a> on the data desk or hit the "Ask a Question" button at the top of the page. This page can't grow without the help of the reporting community.
</div>
<br>
<hr>

<p align="center"><span class='titleamount'>Jump to Topic</span></p>
<div class="graphicSubhead"><table align="center" width="100%" cellpadding="7"><thead></thead>
<tbody>
 <tr><td><a href="#census">Census</a></td><td><a href="#education">Education</a></td><td><a href="#election">Election</a></td><td><a href="#crime">Crime</a></td></tr>
 <tr><td><a href="#transportation">Transportation</a></td><td><a href="#corrections">Corrections</a></td><td><a href="#health">Health</a></td><td><a href="#financial">Financial</a></td></tr>
 <tr><td><a href="#human_services">Human Servies</a></td><td><a href="#veterans">Veterans</a></td><td><a href="#weather">Climate/Weather</a></td><td><a href="#taxes">Property Taxes</a></td></tr>
 <tr><td><a href="#agriculture">Agriculture</a></td><td><a href="#realestate">Real Estate</a></td><td><a href="#environmental">Environmental</a></td><td><a href="#labor">Labor</a></td></tr>
 <tr><td><a href="#socrata">Socrata</a></td><td><a href="#databook">N.J. Data Book</a></td><td><a href="#sldata">NJAM Data</a></td><td><a href="#feeds">Live Data Feeds</a></td></tr>
</tbody>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
<br>
<div class="graphicHeader"><a name="census">Census</a></div>
<br>
<br>
<div class="graphicSubhead">Census data can help you in a world of ways, from deepening a local crime story to revealing sweeping changes in the state's demographics. </div>
<br>
<br>
<br>
<br>
<div class="descripBig">Datasets</div>
<br>
<br>
<div class="descripDetail"><a href="http://censusreporter.org/">Census Reporter</a></div>
<br>
<div class="descrip"> A terrific and easy-to-use tool for finding basic Census data about any geographical area in New Jersey and the country beyond. Harnesses the power of the Census beautifully and gives you the option of embedding ready-made graphics to boot.</div>
<br>
<br>
<div class="descripDetail"><a href="http://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml">American Fact Finder</a></div>
<br>
<div class="descrip"> This is the Census' primary data digging tool. It has a slight learning curve, but once you get your head around it you can find data going back to 2000 on virtually anything you want.  Best for looking at regional data, rather than just one place.</div>
<br>
<br>
<div class="descripDetail"><a href="https://www.ipums.org/">IPUMS</a></div>
<br>
<div class="descrip"> If you really want to dig deep into the Census, IPUMS gives you highly localized data on a broader diversity of topics than any other product available.  Has a pretty high learning curve, so best to only use if you want to spend some time tackling something substantial. </div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Population </td><td>&bull; Income</td><td>&bull; Race</td><td>&bull; Ethnicity</td><td>&bull; Immigration</td><td>&bull; Migration</td></tr>
 <tr><td>&bull; Housing</td><td>&bull; Commuting</td><td>&bull; Poverty</td><td>&bull; Marriage</td><td>&bull; Veteran Status</td><td>&bull; Education</td></tr>
 <tr><td>&bull; Age</td><td>&bull; Fertility</td><td>&bull; Households</td><td>&bull; Building Type</td><td>&bull; Language</td><td>&bull; Property Value</td></tr>
</table>
</div>
<br>
<br>
<br>
<div class="graphicHeader"><a name="education">Education</a></div>
<br>
<br>
<div class="graphicSubhead">The N.J. Department of Education is very good about keeping data organized and in one place.</div>
<br>
<br>
<br>
&nbsp;
<br>
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.state.nj.us/education/data/">State Education Data</a> 
<br>
<div class="descrip"> Your one-stop shop for K-12 education data.</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Enrollments </td><td>&bull; Dropouts</td><td>&bull; State Aid</td><td>&bull; Program Data</td><td>&bull; Salaries and Benefits</td><td>&bull; Taxpayer Spending Guide</td></tr>
 <tr><td>&bull; Local Budget Summaries</td><td>&bull; Violence and Substance Abuse Reports</td><td>&bull; School Directory</td><td>&bull; Staff List</td><td>&bull; Teacher Surveys</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="crime">Crime</a></div>
<br>
<br>
<div class="graphicSubhead"> State Police data is pretty well kept and up to date, but is often still stored in PDFs.  If you need help getting this into Excel, e-mail the data team or check out the Analysis Tools page for ways to unlock it.</div>
<br>
<br>
&nbsp;
<br>
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.state.nj.us/education/data/">State Crime Data</a> 
<br>
<div class="descrip">Goes down to the municipal level. Fatal accident data also available through this data portal.</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; State Crime </td><td>&bull; County Crime</td><td>&bull;Municipal Crime</td><td>&bull; Bias Incidents</td><td>&bull; Fatal Accidents</td><td>&bull; Domestic Violence</td></tr>
 <tr><td>&bull; Gang Survey</td><td>&bull; Crime Index Reports</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="transportation">Transportation</a></div>
<br>
<br>
<div class="graphicSubhead">The Department of Transportation is the main source for this information. It is well-kept and fairly up to date.</div>
<br>
<br>
<br>
&nbsp;
<div class="graphicSubheadBig">Datasets</div>
<br>
<br>
<a href="http://www.state.nj.us/transportation/refdata/accident/">Crash Records</a> 
<br>
<div class="descrip">Massive trove of accident data, sliced in several different ways</div>
<br>
<br>
<a href="http://www.state.nj.us/transportation/refdata/">DOT Reference</a> 
<br>
<div class="descrip">Reference guide to DOT data. Includes links to other data and reports.</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Crashes By County </td><td>&bull; Crashes By Municipality</td><td>&bull; Crashes by victim/vehicle type</td><td>&bull;Crashes by Road Type</td><td>&bull; Cell Phone Data</td><td>&bull; Crash Rates</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="corrections">Corrections</a></div>
<br>
<br>
<div class="graphicSubhead">DOC data has a decent amount of data, but it's sometimes difficult to download en masse. </div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.state.nj.us/corrections/pages/offender_stats.html">Offender Statistics</a> 
<br>
<div class="descrip">General statistics about New Jersey's prison and jail populations</div>
<br>
<br>
<a href="https://www6.state.nj.us/DOC_Inmate/inmatefinder?i=I">Inmate/Prisoner Search</a> 
<br>
<div class="descrip">People finder for anyone currently or formerly incarcerated in New Jersey's corrections system</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Jail/Prison Population</td><td>&bull; Individual Offender Data</td><td>&bull; Crime committed</td><td>&bull; Race/Ethnicity of Inmates</td><td>&bull; Term of Incarceration</td><td>&bull; Release Outcomes</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="health">Health</a></div>
<br>
<br>
<div class="graphicSubhead">The state keeps loads of healthcare information in different places. In some cases, though, you may need to fight for exactly what you want.</div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.nj.gov/health/chs/">Center for Health Statistics</a> 
<br>
<div class="descrip">The Department of Health's central portal for vital statistics. Demographic information on the health of New Jersey residents is found here.</div>
<br>
<br>
<a href="http://nj.gov/humanservices/dmhas/publications/hospital/">Hospital Reports</a> 
<br>
<div class="descrip">Annual performance reports from state hospitals</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Births</td><td>&bull; Mortality</td><td>&bull; Disease information</td><td>&bull; Hospital Performance</td><td>&bull; Immunization</td><td>&bull; Child Poverty</td></tr>
 <tr><td>&bull; Hospital Discharges</td><td>&bull; Violent Deaths</td><td>&bull; Infant/Fetal Deaths</td><td>&bull; Healthy NJ</td><td>&bull; Behavioral Risk Data</td><td>&bull; Health Indicator Reports</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="financial">Financial</a></div>
<br>
<br>
<div class="graphicSubhead">Several different agencies keep financial data in New Jersey, from budget data to details on the state's banks.</div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="https://data.nj.gov/">State Data Portal</a> 
<br>
<div class="descrip">The state's main data portal has most of the financial and budgetary information released by the state</div>
<br>
<br>
<a href="http://yourmoney.nj.gov/">State Transparency Center</a> 
<br>
<div class="descrip">The Governor's Transparency Center is the most up-to-date place for searchable, downloadable budget data.</div>
<br>
<br>
<a href=" http://www.state.nj.us/dobi/division_banking/depositories/bankstats.htm">Financial Institution Statistics</a> <br>
<div class="descrip">The Treasury Department keeps data on the state's financial institutions.</div>
<br>
<br>
<a href="http://www.state.nj.us/dobi/inslic.htm">Insurance and Licensing</a> 
<br>
<div class="descrip">The Division of Banking and Insurance keeps data on insurance and licensing issues in the Garden State.</div>
<br>
<br>
<a href="http://www.nj.gov/dobi/bankwebinfo.htm">List of Banks</a> 
<br>
<div class="descrip">Pretty simple -- A list of all the banks in New Jersey.</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Budget</td><td>&bull; Pension data</td><td>&bull; Benefits Data</td><td>&bull; State Revenues</td><td>&bull; State Expenditures</td><td>&bull; State Contracts</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="human_services">Human Services</a></div>
<br>
<br>
<div class="graphicSubhead">The Department of Human Services is sort of a catchall agency, and carries data on a number of topics, from substance abuse to family development.</div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.state.nj.us/humanservices/dfd/news/cps.html">Family Development</a> 
<br>
<div class="descrip">This page carries data on several topics, such as food stamps, child services and the WorkFirst New Jersey Program.</div>
<br>
<br>
<a href="http://www.state.nj.us/humanservices/dmahs/news/reports/">FamilyCare Enrollment</a> 
<br>
<div class="descrip">Enrollment data on the state's FamilyCare Program.</div>
<br>
<br>
<a href="http://nj.gov/humanservices/dmhas/publications/statistical/">Substance Abuse Statistics</a> 
<br>
<div class="descrip">The Division of Addiction Services releases annual data on substance abuse in New Jersey.</div>
<br>
<br>
<a href="http://nj.gov/humanservices/dmhas/publications/performance/">Substance Abuse Treatment Reports</a> <br>
<div class="descrip">The state issues annual performance reports from substance abuse treatment centers.</div>
<br>
<br>
<a href="http://nj.gov/humanservices/dmhas/publications/idp/">Intoxicated Driving Program Reports</a> 
<br>
<div class="descrip">Data on the state's Intoxicated Driving Program.</div>
<br>
<br>
<a href="http://nj.gov/humanservices/dmhas/publications/epidemiological/">Epidemiological Reports</a> 
<br>
<div class="descrip">Epidemiological reports are issued annually and have a trove of information.</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Food Stamps</td><td>&bull; Child Services</td><td>&bull; Employment</td><td>&bull; Families</td><td>&bull; Substance Abuse</td><td>&bull; Drunk Driving</td></tr>
 <tr><td>&bull; Substance Abuse Treatment Centers</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="veterans">Veterans</a></div>
<br>
<br>
<div class="graphicSubhead">There isn't terribly much kept in-state regarding military and veterans issues but there's still some data to be had.</div
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.va.gov/vetdata/">Veterans Data</a> 
<br>
<div class="descrip">The federal repository for Veteran's data. You can dig down to state levels through this site.</div>
<br>
<br>
<a href="http://www.state.nj.us/military/publications/index.html">Veterans Affairs Publications</a> 
<br>
<div class="descrip">All of the publicans and data issued by the state Department of Veteran's Affairs</div>
<br>
<br>
<br>
<div class="graphicHeader"><a name="weather">Weather/Climate</a></div>
<br>
<br>
<div class="graphicSubhead">The state climatologist has virtually everything needed in terms of basic New Jersey weather and climate information.</div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://climate.rutgers.edu/stateclim/">Climate Data</a> 
<br>
<div class="descrip">The state climatologist's website hosts historical data on New Jersey's climate</div>
<br>
<br>
<a href="http://climate.rutgers.edu/stateclim_v1/dailynormalsextremes.html">Temp/Precip Records</a> <br>
<div class="descrip">This page contains data for daily temperature and precipitation records for dozens of towns in New Jersey.</div>
<br>
<br>
<a href="http://www.njweather.org/">Weather Data</a> 
<br>
<div class="descrip">NJWeather.org has current and recent historical data on weather in New Jersey from more than 50 stations. Includes data in table, chart and map form.</div>
<br>
<br>
<a href="http://www.cocorahs.org/">CoCoRaHS</a> 
<br>
<div class="descrip">Daily rain/snow reports from more than 200 locations around New Jersey</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Temperature</td><td>&bull; Records</td><td>&bull; Historical Data</td><td>&bull; Precipitation</td><td>&bull; Radar</td><td>&bull; Humidity</td></tr>
 <tr><td>&bull; Heat Index</td><td>&bull; Wind Chill</td><td>&bull; Wind Speed</td><td>&bull; Wind Gusts</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="taxes">Property Taxes</a></div>
<br>
<br>
<div class="graphicSubhead">Property Taxes are one of the chief sources of agita among state Residents. The state puts out annual data on rates as well as municipal aid.</div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.state.nj.us/treasury/taxation/lpt/statdata.shtml">All Property Tax Data</a> 
<br>
<div class="descrip">The Department of Treasury has most of the nitty gritty property tax information you may need.</div>
<br>
<br>
<a href="http://www.state.nj.us/dca/divisions/dlgs/resources/property_tax.html">Simplified Property Tax Data</a> <br>
<div class="descrip">If that is above and beyond what you need, the DCA has simplified versions of this data available for easy download.</div>
<br>
<br>
<a href="http://www.state.nj.us/dca/divisions/dlgs/resources/muni_stateaid.html">Municipal Aid</a> 
<br>
<div class="descrip">Municipal Aid has a big impact on local taxes. The DCA issues annual data on this.</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Average Taxes</td><td>&bull; Tax Rates</td><td>&bull; Municipal Aid</td><td>&bull; Abstract of Ratables</td><td>&bull; Assessments</td><td>&bull; Home Sales</td></tr>
 <tr><td>&bull; Tax Appeals</td><td>&bull; Sales by Use</td><td>&bull; Equalized Values</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="agriculture">Agriculture</a></div>
<br>
<br>
<div class="graphicSubhead">Agricultural issues are a surprisingly big deal in New Jersey, and there's a bevy of data available on both the state and federal level.</div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.nass.usda.gov/Statistics_by_State/New_Jersey/">Agriculture Statistics</a> 
<br>
<div class="descrip">The state's main portal for agricultural statistics</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Demographics</td><td>&bull; Crop Yields</td><td>&bull; Crop Prices</td><td>&bull; Environmental Issues</td><td>&bull; Livestock</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="realestate">Real Estate</a></div>
<br>
<br>
<div class="graphicSubhead">Real Estate is one of the most robust data subjects around, and the aftermath of the Great Recession makes it a great topic for research.</div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.state.nj.us/dca/divisions/codes/reporter/">Construction Reporter</a> 
<br>
<div class="descrip">The Construction Reporter contains monthly data on all construction and demolition in New Jersey. The data lags a bit but is in good shape. The data custodian, whose contact info is listed on the site, is very helpful.</div>
<br>
<br>
<a href="http://www.state.nj.us/dobi/division_banking/foreclosuredstats.htm">Foreclosure Statistics</a>  <br>
<div class="descrip">The state Division of Banking releases data on foreclosures in New Jersey.</div>
<br>
<br>
<a href="http://www.zillow.com/research/data/">Zillow Real Estate Data</a> 
<br>
<div class="descrip">Zillow is a terrific resource for state and local real estate information. Their data team is incredibly helpful and if you can't find what you need, they'll grab it for you.</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Foreclosure</td><td>&bull; Building Permits</td><td>&bull; Demolition Permits</td><td>&bull; Certificates of Occupancy</td><td>&bull; Home Sales</td><td>&bull; Median Pricing Information</td></tr>
 <tr><td>&bull; Estimated Values</td><td>&bull;Renter Data</td><td>&bull; Individual Home Pricing</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="environmental">Environment</a></div>
<br>
<br>
<div class="graphicSubhead">The Department of Environmental Protection likely keeps more data than every other agency in the state.  It's often a bit clunky to deal with. This section will likely grow with time.</div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.nj.gov/dep/opra/online.html">DEP Data Miner</a> 
<br>
<div class="descrip">The DEP's data tool is the best way to get at all the information on their site. It's clunky, but with a little work you can get what you're looking for.</div>
<br>
<br>
<a href="http://www.nj.gov/dep/daq/goal.html">Air Pollution</a> 
<br>
<div class="descrip">Air Pollution data collected daily by the DEP.</div>
<br>
<br>
<a href="http://www.nj.gov/dep/drought/">Drought</a> 
<br>
<div class="descrip">Drought and reservoir data collected weekly.</div>
<br>
<br>
<a href="http://www.state.nj.us/dep/fgw/bearfacts.htm">Bear Data</a> 
<br>
<div class="descrip">Data on the annual black bear hunt.</div>
<br>
<br>
<a href="http://www.state.nj.us/dep/fgw/del_river_rpt15.htm">Delaware Fishing Data</a> 
<br>
<div class="descrip">Data on freshwater fishing along the Delaware River.</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Wildlife</td><td>&bull; Contamination</td><td>&bull; Environmental Reviews</td><td>&bull; Licenses and Permits</td><td>&bull; Regulated Sites</td><td>&bull; Hunting</td></tr>
 <tr><td>&bull; Fishing</td><td>&bull;Air Pollution</td><td>&bull; Drought</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="labor">Labor</a></div>
<br>
<br>
<div class="graphicSubhead">The Department of Labor keeps some of the most up to date and well-formated data in New Jersey.</div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.bls.gov/oes/current/oes_nj.htm">Employment Statistics</a> 
<br>
<div class="descrip">The state labor data portal has virtually everything you need to grab data on jobs and unemployment in New Jersey. Some databases updated weekly, others monthly.</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<div class="graphicSubhead">    
<table>
 <tr><td>&bull; Jobs</td><td>&bull; Unemployment</td><td>&bull; Labor Force Demographics</td><td>&bull; Workforce by Industry</td><td>&bull; Inflation</td><td>&bull; Employment Projections</td></tr>
 <tr><td>&bull; Historical Data</td><td>&bull; Workforce Injuries</td><td>&bull; Labor Calculators</td><td>&bull; Pay and Benefits</td><td>&bull; Spending and Time Use</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="socrata">Socrata</a></div>
<br>
<br>
<div class="graphicSubhead">Socrata is a data portal that provides a platform for many municipal, county and state data.  Great for building apps.  New Jersey has bought in at the state level and Socrata now powers data.nj.gov.</div>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://www.socrata.com/">Socrata</a> 
<br>
<div class="descrip">Find out how to pull data en masse and create apps using third party programs like Silk.co</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="databook">N.J. Data Book</a></div>
<br>
<br>
<div class="graphicSubhead">The N.J. Data Book, funded by Rutgers, is a great resource of information on a myriad of topics.</div>
<br>
<br>
<br>
&nbsp;
<div class="descripBig">Datasets</div>
<br>
<br>
<a href="http://njdatabook.rutgers.edu/">N.J. Data Book</a> 
<br>
<br>
<div class="descrip">Data portal that combines Census, political, crime, poverty, housing and school data.</div>
<br>
<br>
<div class="graphicSubhead">Topics Covered</div>
<br>
<br>
<table>
 <tr><td>&bull; Population</td><td>&bull; Poverty</td><td>&bull; Crime</td><td>&bull; Population Density</td></tr>
 <tr><td>&bull; Employment</td><td>&bull; Housing</td><td>&bull; Financial</td><td>&bull; State Expenditures</td></tr>
 <tr><td>&bull; Property Tax Burden</td><td>&bull; Voters and Turnout</td><td>&bull; School Data</td><td>&bull; Election Results</td></tr>
</table>
</div>
<br>
<br>
<br>
<br>
<div class="graphicHeader"><a name="sldata">NJAM Internal Data</a></div>
<br>
<br>
<div class="graphicSubhead">Coming Soon</div>
</div>
<div class="graphicHeader"><a name="feeds">Live Data Feeds</a></div>
<br>
<br>
<div class="graphicSubhead">Coming Soon.</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#data').dataTable({
        });
} );
</script>

    </body> 
</html>