<!doctype html>
<html lang="en">
<head>

        <!-- Begin style -->
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/nj-data/test/style.css">
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <!--End Style -->

        <!-- Begin Scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
</head>
    

<body>

    
        <div align=center>

        <a href="http://sstirling.github.io/data-toolbox/build/index.html" class="orange med btn">Home</a>
        <a href="mailto:castudillo@njadvancemedia.com,sstirling@njadvancemedia.com" class="yellow med btn">Ask a Question</a>
        <a href="https://docs.google.com/forms/d/18egwYfJnOMkA_SQFCEba37MyHAllReU-Ns0erMWQIrA/viewform?usp=send_form" class="green med btn">Submit a Data Request</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/data.html" class="teal med btn">Data Warehouse</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/tutorials.html" class="navy med btn">Tutorials</a>
        <br>
        <br>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/maps.html" class="navy med btn">Mapping Tools</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/charts.html" class="teal med btn">Charting Tools</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/analysis.html" class="green med btn">Analyzing Data</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/coding.html" class="yellow med btn">Programming Tools</a>
        <a href="http://sstirling.github.io/data-toolbox/build/subject/other.html" class="orange med btn">Other Data Tools</a></div>
<br>
<br>
<br>
<div class="graphicHeaderDetail">Embeds</div>
<br>
<br>
<div class="descrip"> This page contains a list of ready-made data visualizations produced by the data team complete with embed codes that allows them to be dropped directly into movable type. This page is under construction and will grow with time. Some visualizations may be templates that need to be updated to include the most recent data, or could be easily utilized for another topic. </div>
<br>
If you need help doing this or have questions, please e-mail <a href="mailto:castudillo@njadvancemedia.com">Carla Astudillo</a> or <a href="mailto:sstirling@njadvancemedia.com">Stephen Stirling</a> on the data desk or click the "Ask a Question" button at the top.</div>
<br>
<br>
<b><div class="descrip">***Important note: Any embed used in Movable Type must have a width set to "100%" in order to work in mobile.***</div></b>
<hr>
<br>
<div class="graphicHeader"><a name="anchor">Outage Tracker</a></div>
<br>
<br>
<div class="graphicSubhead">Our outage tracker provides a continuous feed of power outage data by grabbing information directly from the state's three main power utilities every 10 minutes.</div>
<br>
<br>
<br>
<br>
<div class="descrip">Live link: <a href="http://apps.nsl.webfactional.com/outages/">Outage Tracker</a>
<br>
<br>
<div class="descrip">Embed Code:</div>
<br>
<script src="https://gist.github.com/sstirling/5f7ea2b005c0fcd9d1a6.js"></script>
<hr>
<br>
<br>
<div class="graphicHeader"><a name="anchor">Flu Tracker</a></div>
<br>
<br>
<div class="graphicSubhead">The Flu Tracker pulls data from Google's Flu Tracker and needs to be updated with current information to use.</div>
<br>
<br>
<br>
<br>
<div class="descrip">Live link: <a href="http://s3.amazonaws.com/nj-data/flu_trends/flutrendline14.html">Flu Tracker</a>
<br>
<br>
<div class="descrip">Embed Code:</div>
<br>
<script src="https://gist.github.com/sstirling/bdaa14396f947a60d1d0.js"></script>
<hr>
<br>
<br>
<div class="graphicHeader"><a name="anchor">FEMA Flood Maps</a></div>
<br>
<br>
<div class="graphicSubhead">A Mapbox map showing the recently released FEMA flood maps for coastal New Jersey.</div>
<br>
<br>
<br>
<br>
<div class="descrip">Live link: <a href="https://a.tiles.mapbox.com/v4/sldatateam.kioieoim/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic2xkYXRhdGVhbSIsImEiOiJuR1ZmQ01vIn0.zyEdsIKM-4orPm-3Y0XWDQ">FEMA Flood Maps</a>
<br>
<br>
<div class="descrip">Embed Code:</div>
<br>
<script src="https://gist.github.com/sstirling/7c9ac1df59b55b666283.js"></script>
<hr>
<br>
<br>
<div class="graphicHeader"><a name="anchor">Sandy Surge Map</a></div>
<br>
<br>
<div class="graphicSubhead">This Mapbox map shows the extend of the storm surge during Hurricane Sandy. It can also be altered to show the depth of the water.</div>
<br>
<br>
<br>
<br>
<div class="descrip">Live link: <a href="https://a.tiles.mapbox.com/v4/sldatateam.kioj4hj0/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoic2xkYXRhdGVhbSIsImEiOiJuR1ZmQ01vIn0.zyEdsIKM-4orPm-3Y0XWDQ">Sandy Surge Map</a>
<br>
<br>
<div class="descrip">Embed Code:</div>
<br>
<script src="https://gist.github.com/sstirling/b52e18981c5b29500798.js"></script><hr>
<br>
<br>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61113871-1', 'auto');
  ga('send', 'pageview');

</script>

    </body> 
</html>