<!doctype html>
<html lang="en">
    <head>
        
        <!-- Begin style -->
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/nj-data/test/style.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
        <!--End Style -->

        <!-- Begin Scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
        



        <!-- End Scripts -->

    </head>
    <body>
        <div id="map" style="width:100%; height:300px;"></div>
<br>
<br>

        <h1 align="center">NJ Advance Media Data Toolbox</h1>

<br>

        <div align=center><a href="https://njgin.state.nj.us/NJ_NJGINExplorer/index.jsp" class="blue large btn">NJ GIS Data</a>
        <a href="https://data.nj.gov/" class="blue large btn">Data Warehouse (Coming Soon)</a>
        <a href="3" class="blue large btn">Tutorials</a></div>
        <br>
        <h1 align="center">Data and Visualization Tools</h1>
        <p align="center">Use the menu below to find the tool you are looking for. Click the name of the program for more information.</p>
        <br>
        <div align=center><a href="https://s3.amazonaws.com/nj-data/test/maps.html" class="navy med btn">Mapping Tools</a>
        <a href="b" class="teal med btn">Charting Tools</a>
        <a href="c" class="green med btn">Getting and Analyzing Data</a>
        <a href="d" class="yellow med btn">Programming Tools</a>
        <a href="e" class="orange med btn">Other Data Tools</a></div>

<br>
<br>
<br>
        <table id="tools" border=1 cellpadding=7>
            <thead>
            <th>Program</th>
            <th>Type</th>
            <th>Skill Level</th>
            <th>Website</th>
            

        </thead>
        <tbody>
            <tr>
                {% for obj in object_list %}

                <td><a href="{{ obj.id }}/">{{ obj.program }}</a></td>
                <td>{{ obj.type }}</td>
                <td>{{ obj.skill_level }}</td>
                <td><a href="{{ obj.website }}/">{{ obj.website }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <script>
     $(document).ready(function() {
    $('#maps').dataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
} );
        </script>
        <script type="text/javascript">
            var map = L.map('map').setView([40.705628, -74.344482], 11);
            var mapquestLayer = new L.TileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>,<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
                subdomains: ['otile1','otile2','otile3','otile4']
            });
            map.addLayer(mapquestLayer);

            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "full_name": "{{ obj.full_name }}",
                    "id": "{{ obj.id }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.x }}, {{ obj.y }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
         var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
                        '<a href="' + feature.properties.id + '/">' +
                            feature.properties.full_name +
                        '</a>'
                    );
                }
            });
              map.addLayer(dataLayer);

        </script>
    </body>
</html>