<!doctype html>
<html lang="en">
<head>

        <!-- Begin style -->
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/nj-data/test/style.css">
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <!--End Style -->

        <!-- Begin Scripts -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
</head>
    

<body>

        <div align=center>

        <a href="/index.html" class="orange med btn">Home</a>
        <a href="a" class="yellow med btn">Ask a Question</a>
        <a href="b" class="green med btn">Submit a Data Request</a>
        <a href="c" class="teal med btn">Data Warehouse</a>
        <a href="d" class="navy med btn">Tutorials</a>
        <br>
        <br>
        <a href="a" class="navy med btn">Mapping Tools</a>
        <a href="b" class="teal med btn">Charting Tools</a>
        <a href="c" class="green med btn">Analyzing Data</a>
        <a href="d" class="yellow med btn">Programming Tools</a>
        <a href="e" class="orange med btn">Other Data Tools</a></div>
<br>
<br>
<br>
<div class="graphicHeader">Maps</div>
<br>
<br>
<div class="graphicSubhead"> This page contains all of the tools the NJAM data team uses when it creates maps. Some of these tools aren't mapping tools directly, but help with the process, like GeoCoders. They vary widely in the skill level needed to use, but generally, the basic functionality of each are user friendly. 
</div>
<br>
<br>
 <p class="sort-text">Click on the name of the program for more detailed information.</p>
<br>
<br>

<table id="maps" class="display">
<thead>
<th>program</th><th>type</th><th>sitelink</th><th>skill_level</th></tr>
</thead>
<tbody>
 <tr><td>ArcView</td><td>Mapping</td><td><a href="http://www.esri.com/software/arcgis/arcview">http://www.esri.com/software/arcgis/arcview</a></td><td>Intermediate to Advanced</td></tr>
 <tr><td>CartoDB</td><td>Mapping</td><td><a href="http://cartodb.com/">http://cartodb.com/</a></td><td>Intermediate to Advanced</td></tr>
 <tr><td>Google Earth</td><td>Mapping</td><td><a href="http://www.google.com/earth/">http://www.google.com/earth/</a></td><td>Intermediate to Advanced</td></tr>
 <tr><td>Google Fusion Tables</td><td>Mapping</td><td><a href="http://www.google.com/drive/apps.html#fusiontables">http://www.google.com/drive/apps.html#fusiontables</a></td><td>Intermediate</td></tr>
 <tr><td>Google Fusion Tables API</td><td>Mapping</td><td><a href="https://www.google.com/search?q=google+fusion+tables+api&ie=utf-8&oe=utf-8&aq=t&rls=org.mozilla:en-US:official&client=firefox-a">https://www.google.com/search?q=google+fusion+tables+api&ie=utf-8&oe=utf-8&aq=t&rls=org.mozilla:en-US:official&client=firefox-a</a></td><td>Advanced</td></tr>
 <tr><td>Google Maps API</td><td>Mapping</td><td><a href="https://developers.google.com/maps/">https://developers.google.com/maps/</a></td><td>Advanced</td></tr>
 <tr><td>Google Maps Engine</td><td>Mapping</td><td><a href="https://mapsengine.google.com/map/?pli=1">https://mapsengine.google.com/map/?pli=1</a></td><td>Beginner</td></tr>
 <tr><td>Leaflet</td><td>Mapping</td><td><a href="http://leafletjs.com/">http://leafletjs.com/</a></td><td>Advanced</td></tr>
 <tr><td>Mapbox</td><td>Mapping</td><td><a href="http://www.mapbox.com">http://www.mapbox.com</a></td><td>Beginner</td></tr>
 <tr><td>Mapbox.js</td><td>Mapping</td><td><a href="https://www.mapbox.com/mapbox.js/api/v1.4.2/">https://www.mapbox.com/mapbox.js/api/v1.4.2/</a></td><td>Advanced</td></tr>
 <tr><td>QGIS</td><td>Mapping</td><td><a href="http://www.qgis.org/en/site/">http://www.qgis.org/en/site/</a></td><td>Intermediate to Advanced</td></tr>
 <tr><td>Shape Escape</td><td>Mapping</td><td><a href="http://www.shpescape.com/">http://www.shpescape.com/</a></td><td>Beginner</td></tr>
 <tr><td>TileMill</td><td>Mapping</td><td><a href="https://www.mapbox.com/tilemill/">https://www.mapbox.com/tilemill/</a></td><td>Intermediate to Advanced</td></tr>
 <tr><td>StoryMap</td><td>Mapping</td><td><a href="http://storymap.knightlab.com/">http://storymap.knightlab.com/</a></td><td>Beginner</td></tr>
 <tr><td>Mapbox Studio</td><td>Mapping</td><td><a href="https://www.mapbox.com/mapbox-studio/#darwin">https://www.mapbox.com/mapbox-studio/#darwin</a></td><td>Intermediate to Advanced</td></tr>
 <tr><td>Odyssey</td><td>Mapping</td><td>Not yet available</td><td>Beginner to Advanced</td></tr>
</tbody>
</table>


        

<script type="text/javascript">
$(document).ready(function() {
    $('#maps').dataTable({
        "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
        "iDisplayLength": 25
    });
} );
</script>
    </body> 
</html>